body {
	background: darkslategray;
}
#score {
	width: 100px;
	height: 100px;
	font-size: 50px;
	font-family: verdana;
	color: white;
	float: center;
	margin: 0 0 0 100px;
}
#wrapper {
	width: 600px;
	margin: 0 auto;
	display: center;
}
canvas {
	cursor: none;
}
#reGame {
	width: 250px;
	height: 70px;
	margin: 70px 0 0 175px;
	opacity: 0;
	font-family: verdana;
	font-size: 25px;
}
#leaderBoard {
	width: 250px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 50px;
	background-color: black;
	display: center;
}
h1 {
	font-size: 30px;
	color: white;
	margin: 0 0 0 40px;
}
#lBoard {
	font-size: 50px;
	color: white;
	text-align: center;
}